<% title "VEDAVAAG | NPR40 | Home" %>
<% if has_any_role?(:admin,:manager) %>
<h3>VEDAVAAG | NPR40 | Consolidated EOD Report</h3>

<% if @reports.blank? %>
    <div class="error_msg">
      OOPS!.. No Reports are Found in the System..!
    </div>
<% else %>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>EOD Submit</th>
        <th>EOD Not Submit</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @reports.group_by{|r| r.date}.sort.reverse.each do |date,records| %>
          <tr>
            <td><%= i %></td>
            <td><%= date.strftime("%d-%b-%Y")%></td>
            <td><%= link_to records.size, "#",:class => 'bold_text tipTipRight',:title => get_list_users(records) %></td>
            <td><%= link_to (User.employee_users.size - records.size), "#",:class => 'bold_text tipTipRight',:title => get_list_members(records)%></td>
            <td><%= link_to "View Reports", date_report_report_path(date),:class => "usuallink bold_text" %></td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
<% end %>
<%elsif has_any_role?(:employee)%>
<h3>VEDAVAAG | NPR40 | Welcome</h3>
<%end %>





