<% title "VEDAVAAG | ERS | EOD Reports" %>
<h3>VEDAVAAG | ERS | Manage EOD Reports</h3>
<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text_caution">
 * Employee can create report for current day and previous day only.<br/>
 * Only One EOD Report is submitted for current day. Employee can update their reports after submitting the reports.<br/>
</div>
<div class="link_buttons">
  <%= link_to content_tag(:span, 'New Report'), new_report_path, :class => 'btn-blue' if permitted_to?(:create) %>
  <%= link_to content_tag(:span, 'Home'), homes_url, :class => 'btn-yellow' %>
</div>
<% if @reports.blank? %>
    <div class="error_msg">
      OOPS!.. No Reports are Found in the System..!
    </div>
<% else %>
    <table width="100%">
      <tr>
        <td align="right">
          <b><i>per page</i></b>
          <%= per_page %>| <%= page_entries_info @reports %>
        </td>
      </tr>
    </table>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>#</th>
        <% if has_any_role?(:admin, :manager) %>

            <th>Employee</th>
        <% end %>
        <th>Date</th>
        <th>Summary</th>
        <th>Created On</th>
        <th>Updated On</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @reports.each do |report| %>
          <tr>
            <td><%= i %></td>
            <% if has_any_role?(:admin, :manager) %>
                <td><%= report.user.name %></td>
            <% end %>
            <td><%= report.date.strftime("%d-%b-%Y") %></td>
            <td align="left "><%= report.report.truncate(25) %></td>
            <td><%= report.created_at? ? report.created_at.strftime("%d-%b-%Y") : "-" %></td>
            <td><%= report.updated_at? ? report.updated_at.strftime("%d-%b-%Y") : "-" %></td>
            <td>
              <%= link_for_show_pop(report) %>
              <%= link_for_edit(edit_report_path(report)) if permitted_to?(:update) %>
            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
    <div class="flickr_pagination">
      <%= page_entries_info @reports %> <%= will_paginate @reports, :container => false %>
    </div>
<% end %>




