<% title "VEDAVAAG | Report" %>
<h3>VEDAVAAG | Report | Manage EOD Reports</h3>
<% content_for :left_panel do %>
    <td valign="top" width="250"> <%= render 'common/search' %>
      <%= render 'recent' %> </td>
<% end %>
<div class="help_text">
  Area for managing EOD Reports. <br/>
  Along with creating, managing Reports for Application.
</div>
<div class="link_buttons">
  <%= link_to content_tag(:span, 'New Report'), new_report_path, :class => 'btn-blue' %>
  <%= link_to content_tag(:span, 'Home'), homes_url, :class => 'btn-yellow' %>
</div>
<% if @reports.blank? %>
    <div class="error_msg">
      OOPS!.. No Reports are Found in the System..!
    </div>
<% else %>
    <table width="100%">
      <tr>
        <td align="right">
          <b><i>per page</i></b>
          <%= per_page %>| <%= page_entries_info @reports %>
        </td>
      </tr>
    </table>
    <table class="tablesorter">
      <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Summary</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% i=1 %>
      <% @reports.each do |report| %>
          <tr>
            <td><%= i %></td>
            <td><%= report.date.strftime("%d-%b-%Y") %></td>
            <td><%= report.report %></td>
            <td>
              <%= link_to "View",report,:class => 'usuallink bold_text', :rel => "facebox" %>  |
              <%= link_to "Update",edit_report_path(report),:class => 'usuallink bold_text' %>
            </td>
          </tr>
          <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
    <div class="flickr_pagination">
      <%= page_entries_info @reports %> <%= will_paginate @reports, :container => false %>
    </div>

<% end %>




